<div class="container">
  <div class="section">

  <div class="row">
    <div class="col s12 l6 m8 offset-m2 offset-l3">
      <%= render 'social_networks'%>
</div>

    </div>
  </div>
    <h5>About me</h5>
    <p>I am currently working as a Software Engineer at LoopUp in San Francisco. As a software engineer, I mostly code in Ruby on Rails and Javascript but I also have extensive experience in Java and Python. Though mainly experienced in backend systems I am rapidly gaining experience as a full stack developer working on web technologies across the entire stack. I am greatly interested in data analytics and worked with intense data systems in finance industry and marketing research. I draw passion from a pleasant user experience and I am able to work in all software engineering phases, from conception to implementation.</p>
  </div>
  <div class="divider"></div>
</div>

