<div class="container">
  <div class="section">
    <div class="row center">
      <div class="col s12">
        <% @dashboard.each do |dash_el| %>
          <div class="col s12 m4 l4">
            <%= link_to dash_el[:title], "##{dash_el[:id]}" , class: "waves-effect waves-light btn indigo center hide-on-med-only" %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
<div class="divider"></div>
