<h4>Education</h4>
<ul class="collection">
    <% @resume[:education].each do |education| %>
      <li class="collection-item">
        <div><%= education[:start_date]%> - <%= education[:end_date]%> </div>
        <div><%= education[:school]%> </div>
        <div><%= education[:grade]%> </div>
      </li>
    <% end %>
</ul>
