 <footer class="page-footer indigo lighten-5 grey-text text-darken-3">
  <div class="container">
    <div class="row">
      <div class="col l6 m12 s12">
        <h5 >I would love to hear from you!</h5>
        <p >Feel free to get back to me any way you prefer! </p>
      </div>
      <div class="col l5 m8  s12">
        <h5 >Connect</h5>
          <%= render 'social_networks' %>
        <ul class="col l6 m12 s6">
          <li>mail:faethon.milikouris@gmail.com</li>
          <li>phone:+14159363319</li>
        </ul>
      </div>
    </div>
  </div>
  <div class="footer-copyright grey-text text-darken-3">
    <div class="container">
    <div class="row">
      <span  >Made by</span>
      <a href="https://www.github.com/faethonm">
        <span class="indigo-text text-darken-5">faethonm</span>
      </a>
        <span class="right">Built with Ruby on Rails 5</span>
    </div>
  </div>
</footer>

