<header >
   <div id="index-banner" class="parallax-container">
    <div class="section no-pad-bot">
      <div class="container">
        <div class="row center">
          <div class="col s12">
            <%= image_tag 'https://scontent.fsnc1-1.fna.fbcdn.net/t31.0-8/13063408_10154066357490409_519135077130341641_o.jpg', class: 'circle', size: "300" %>
          </div>
          <h3 class="header grey-text  text-lighten-3">Faethon Milikouris</h3>
          <h5 class="header grey-text text-lighten-2">Software developer, tech enthusiast, aspiring entrepreneur</h5>
          </div>
        </div>
      </div>
    <div class="parallax">
      <%= image_tag 'https://scontent.fsnc1-1.fna.fbcdn.net/v/t1.0-9/11001764_10153053252315409_2571999231749344522_n.jpg?oh=987f62a7ec00b61bf5d610cc27b33e79&oe=57C0696F', alt: "Unsplashed background img 1" %>
    </div>
  </div>
</header>
